%p#notice= notice

%p
  %b Name:
  = @comment.name
%p
  %b Cont:
  = @comment.cont

%p
  %b film:
  = image_tag @comment.film.file.thumb.url

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path

