= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :images
    = f.file_field :images, multiple: true


  -unless @page.new_record?
    #uploader
    :javascript
      $(function(){
        $("#uploader").pluploadQueue({
          runtimes: 'gears,flash,silverlight,browserplus,html5',
          url: '#{assets_path+"?linker_type=page&linker_id="+@page.id.to_s+"&linker_attr=images&asset_type=image"}',
          multipart_params: {
            '#{request_forgery_protection_token}': '#{form_authenticity_token}',
            '#{Rails.application.config.session_options[:key]}': '#{request.session_options[:id]}'
          }
        });
      });
  .actions
    = f.submit 'Save'
