%h1 Listing assets

%table
  %tr
    %th Name
    %th file
    %th
    %th
    %th

  - @assets.each do |asset|
    %tr
      %td= asset.name
      %td= image_tag asset.file.thumb.url
      %td
        %ul
        - asset.asset_links.each do |n|
          %li=n.linker.name

      %td= link_to 'Show', asset_path(asset)
      %td= link_to 'Edit', edit_asset_path(asset)
      %td= link_to 'Destroy', asset, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Asset', new_asset_path

#uploader
  :javascript
    $(function(){
      $("#uploader").pluploadQueue({
        runtimes: 'gears,flash,silverlight,browserplus,html5',
        url: '#{assets_path}?asset_type=image',
        multipart_params: {
          '#{request_forgery_protection_token}': '#{form_authenticity_token}',
          '#{Rails.application.config.session_options[:key]}': '#{request.session_options[:id]}'
        }
      });
    });
